
<table id="auth-user-survey-table" class="table table-striped signed-in-view">

 <thead>
    <tr>
    <th>{{question.prompt}}</th>
    </tr>
  </thead>
  <h5 class="data-output"></h5>
{{#each questions as |question|}}
      <tr>
        <td class="prompt-title">{{question.prompt}}</td>
        <td><button questionId="{{question.id}}" type="click" class="btn btn-danger get-data">Get answer data from this question</button></td>
      </tr>
  {{/each}}
</table>
