<table id="unauth-user-survey-table" class="table table-striped signed-in-view">

 <thead>
    <tr>
      <th>Survey Title</th>
    </tr>
  </thead>
{{#each surveys as |survey|}}
      <tr>
        <td class="prompt-title">{{survey.title}}</td>
        <td>{{survey.owner}}</td>
        <td><button surveyId="{{survey.id}}" type="click" class="btn btn-primary take-survey">Take Survey</button></td>
      </tr>
{{/each}}
