$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  text-align: center;
  // font-family: 'Rajdhani', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.answer-question{
  padding-top: .2cm;
  padding-bottom: .2cm;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

td.create {
  width: 50%;
}

#sign-up {
  display: none;
}

#sign-in {
  display: none;
}

#change-password{
  display: none;
}

#create-survey {
  display: none;
}

#create-survey-nav {
  display: none;
}

#create-question {
  display: none;
}

#indexOfUserSurveys {
  display: none;
}


// #indexOfSurveysTaken {
  // display: none;
// }

#indexOfSurveysTaken {
  display: none;
}


a.dropdown-toggle {
  visibility: hidden;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.core{
  visibility: hidden;
}

.prompt-title{
  // font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
}

.navbar{
  // font-family: 'Montserrat Subrayada', sans-serif;
}

.show-buttons {
  float: right;
}
@media (max-width: 769px) {
  .show-buttons {
    float: none;
  }
  div#handlebar-target {
    margin-top: 200px;
  }
  form {
    margin-top: 250px;
  }

  form#create-question {
    margin-top: 50px;
  }
  form.update-survey {
    display: none;
  }
}
